.container {
  border: solid 1px #808080;
  padding: 0;
  display: flex;
  flex-direction: column;
  border-radius: 6px;
  overflow: hidden;
  max-width: 180px;
  min-height: 300px;
}

.container div {
  padding: 32px;
}

.container p {
  font-weight: 500;
  margin: 0 0 4px;
}

.container p:first-child {
  font-size: 24px;
  font-weight: 700;
  line-height: 1.2;
  letter-spacing: 0.02em;
  margin-bottom: 20px;
}

.container .button {
  color: white;
  background-color: black;
  min-width: 100%;
  margin-top: auto;
  border-radius: 0;
  border: none;
}

.button {
  height: 30px;
  text-decoration: none;
  display: flex;
  justify-content: center;
  align-items: center;
}

.container .button:hover {
  background-color: rgba(0, 0, 0, 0.7);
  border: none;
}

@media only screen and (max-width: 449px) {
  .container {
    margin: auto;
  }
}
