.cardContainer {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 20px;
}

@media only screen and (min-width: 450px) and (max-width: 600px) {
  .cardContainer {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 20px;
  }
}

@media only screen and (max-width: 449px) {
  .cardContainer {
    display: grid;
    grid-template-columns: 1fr;
    grid-gap: 20px;
  }
}
