form {
  display: flex;
  margin: 64px 0;
  border: 1px solid black;
  border-radius: 6px;
  overflow: hidden;
}

form input {
  flex-grow: 1;
  border: none;
  padding: 4px 16px;
}

form input:focus {
  outline: none;
}

form .button {
  color: white;
  background-color: black;
  margin-top: auto;
  border-radius: 0;
}

form .button:hover {
  background-color: rgba(0, 0, 0, 0.6);
  border-color: transparent;
}
