body {
  background-color: rgba(233, 230, 202, 0.3);
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.content-wrapper {
  max-width: 800px;
  margin: 0 auto;
  padding: 0 24px;
}

.detail-page {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}
